.anchorButton:hover, .anchorButton:visited, .anchorButton, .anchorButton:focus{
   text-decoration: none;
   color: white;
}
.inputBox
{
width:15% 
}
td {
    cursor: pointer;
}

	
	li{
	list-style:none;
	}