Purpose : This Doc Specifies the basic requirements for the IT Resource Project. Please add the 
	       Requirements for the project. Seperatly add Basic and Nice To Have Requirements 

Basic Requirements :

1. Custom Login / Signup Page
2. Signup with Google Plus , Facebook etc
3. Merge custom accounts and accounts made through google plus , facebook etc

Nice To Have :
	
1. Decide efficiency based on the time required to complete the request.
2. After completion of the request , the employee can add the satisfaction level.
3. Option to raise a missing ticket for a resource not alotted.
