
<div class="container" style="margin-top: 100px;">
	<div class="row">
		<div class="col-sm-4"></div>
		<div class="col-sm-4">
			<h2>Reset Password</h2>
			<hr style="margin-top: 7px;">
			<br>
			<form name="userForm" ng-submit="changePassword(user)">
				<div class="form-group"
					ng-class="{'has-error': userForm.old_password.$invalid && !userForm.old_password.$pristine}">
					<label for="old_password">Old Password</label> <input
						type="password" id="old_password" name="old_password"
						placeholder="Old Password" ng-minlength="6" class="form-control"
						ng-model="user.old_password" required> <span
						class="help-block"
						ng-show="userForm.old_password.$invalid && !userForm.old_password.$pristine">
						Password should be 6 digits minimum </span>
				</div>
				<div class="form-group"
					ng-class="{'has-error': userForm.new_password.$invalid && !userForm.new_password.$pristine}">
					<label for="new_password">New Password</label> <input
						type="password" id="new_password" name="new_password"
						placeholder="New Password" ng-minlength="6" class="form-control"
						ng-model="user.new_password" required> <span
						class="help-block"
						ng-show="userForm.new_password.$invalid && !userForm.new_password.$pristine">
						Password should be 6 digits minimum </span>
				</div>
				<div class="form-group"
					ng-class="{'has-error': userForm.confirm_password.$invalid && !userForm.confirm_password.$pristine && userForm.confirm_password.$error.passwordVerify}">
					<label for="confirm_password">Confirm Password</label> <input
						type="password" id="confirm_password" name="confirm_password"
						ng-model="user.confirm_password"
						password-verify="user.new_password" placeholder="Confirm Password"
						class="form-control" required> <span class="help-block"
						ng-show="userForm.confirm_password.$invalid && !userForm.confirm_password.$pristine && userForm.confirm_password.$error.passwordVerify">
						Password do not match </span>
				</div>
				<button type="submit" class="btn btn-primary"
					ng-disabled="userForm.$invalid">Reset Password</button>
			</form>
			<div id="message"></div>
		</div>
	</div>
	<div class="col-sm-4"></div>
</div>