<!DOCTYPE html>
<html ng-app="RipperFit">
<head>
<meta charset="utf-8">

<!-- Logo in Title Bar -->
<link rel="icon" href="resources/img/rippericon.png" type="image/png"
	sizes="16x16">

<title>MyActions</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- Custom CSS -->
<link href="resources/css/dashhome.css" rel="stylesheet">
<link rel="stylesheet" href="resources/css/style1.css">

<!-- Custom CSS For Quote Carousel -->
<link href="resources/css/quoteCarousel.css" rel="stylesheet">

</head>
<body>

	<div ng-include="'header.html'"></div>
	<div ng-view=""></div>
	<div ng-include="'footer.html'"></div>


	<!-- scripts -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
	<script src="resources/js/route.js"></script>
	<script src="https://use.fontawesome.com/8cbee58684.js"></script>
	<script src="resources/js/quoteCarousel.js"></script>
	
	<!-- custom controllers js -->
	<script src="resources/js/controllers/headerCtrl.js"></script>
	<script src="resources/js/controllers/addDepartmentCtrl.js"></script>
	<script src="resources/js/controllers/addDesignationCtrl.js"></script>
	<script src="resources/js/controllers/addRequestCtrl.js"></script>
	<script src="resources/js/controllers/addResourceCtrl.js"></script>
	<script src="resources/js/controllers/approveEmpCtrl.js"></script>
	<script src="resources/js/controllers/changePasswordCtrl.js"></script>
	<script src="resources/js/controllers/editDepartmentCtrl.js"></script>
	<script src="resources/js/controllers/editDesignationCtrl.js"></script>
	<script src="resources/js/controllers/editRequestCtrl.js"></script>
	<script src="resources/js/controllers/editResourceCtrl.js"></script>
	<script src="resources/js/controllers/dashBoardHomeCtrl.js"></script>
	<script src="resources/js/controllers/myProfileCtrl.js"></script>
	<script src="resources/js/controllers/viewDepartmentsCtrl.js"></script>
	<script src="resources/js/controllers/viewDesignationsCtrl.js"></script>
	<script src="resources/js/controllers/viewEmployeeRequestsCtrl.js"></script>
	<script src="resources/js/controllers/viewEmployeesCtrl.js"></script>
	<script src="resources/js/controllers/viewRequestDetailCtrl.js"></script>
	<script src="resources/js/controllers/viewRequestsCtrl.js"></script>
	<script src="resources/js/controllers/approveRequestCtrl.js"></script>
	<script src="resources/js/controllers/forwardRequestCtrl.js"></script>
	<script src="resources/js/controllers/viewResourcesCtrl.js"></script>
	<script src="resources/js/controllers/addCommentCtrl.js"></script>
	<script src="resources/js/controllers/getLocationCtrl.js"></script>
	<script src="resources/js/controllers/updateRequestCtrl.js"></script>
</body>
</html>