<!DOCTYPE html>
<!-- Landing Page for RipperFit - An IT Resource Tracking App -->
<html lang="en">
<head>

  <meta charset="utf-8">

  <!-- Logo in Title Bar -->
  <link rel="icon" href="resources/img/rippericon.png" type="image/png" sizes="16x16">

  <!-- Viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="description" content="RipperFit: A Resource Requesting and Tracking App - It is designed to track IT resources within an organization. It allows employees of an orgnization to easily create a request for new resources with the approval of manager.">
  <meta name="author" content="VARAAS">

  <!-- IE Edge Meta Tag -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>RipperFit</title>

  <!-- Bootstrap Minified CSS CDN -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- Lato Font CDN -->
  <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' />

  <!-- Raleway Font CDN -->
  <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' />

  <!-- CustomMade CSS -->
 <link rel="stylesheet" href="resources/css/main.css">

  <!-- JQuery Script CDN required by typed.js for Auto-Typing
  Note: Do not change the placement of the same -->
  <script	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <!-- Typed Javascript for Auto-Typing
  Provided By: http://www.mattboldt.com/demos/typed-js -->
  <script src="resources/js/typed.js"></script>

  <!-- CustomMade Script for Auto-Typing -->
  <script type="text/javascript" src="resources/js/autotype.js"></script>

  <!-- Font Awesome Javascript -->
  <script src="https://use.fontawesome.com/8cbee58684.js"></script>

</head>
<body id="page-top">
<div id="headerwrap">
<nav class="navbar navbar-inverse navbar-fixed-top">
 <div class="container">
   <div class="navbar-header">
     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
     </button>
    <a class="navbar-brand" href="#page-top">
            <i class="fa fa-futbol-o fa-2x" aria-hidden="true"></i>
     </a>
   </div>
   <div class="collapse navbar-collapse" id="myNavbar">
     <ul class="nav navbar-nav navbar-right">
       <li><a href="#page-top">HOME</a></li>
       <li><a href="#features">FEATURES</a></li>
       <li><a href="#about">ABOUT</a></li>
       <li><a href="signIn.html">LOGIN</a></li>
	   <li><a href="signUp.html">SIGNUP</a></li>
       <li><a href="#contact">CONTACT</a></li>
     </ul>
   </div>
        <!-- /.navbar-collapse -->
 </div>
     <!-- /.container -->
</nav>

<div class="container">
     <br>
     <h1>RipperFit</h1>
     <h2>Resource Tracking in a Flash!!!</h2>
     <div id="auto-type"class="text-left h1" style="color: white;"><span style="margin-left:27%; color: white;"><strong>Start Requesting For A</span> <span class="element"><strong></strong></span><span class="typed-cursor"></span></div>
     <div class="row">
       <br> <br> <br>
       <div class="col-md-6 col-md-offset-3"></div>
     </div>
   </div>
   <!-- /.container -->
</div>
  <!-- /#headerwrap -->
<!-- ========== WHITE SECTION - Welcome Note ========== -->
  <div id="white-wrap">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <h3>
            Welcome To <bold>RipperFit</bold>, <bold>A Resource
              Tracking Engine</bold>,
              <br>
              Brought To You By <bold>VARAAS</bold>.
              <br>
              <bold>Ideal For Companies & Organizations!!!</bold>
            </h3>
          </div>
        </div>
      </div>
      <!-- /container -->
    </div>
    <!-- /white-wrap -->

    <!-- ========== GREY SECTION - Prime Features ========== -->
    <section id="features" name="features"></section>
    <div id="grey-wrap">
      <div class="container">
        <div class="row">
          <h3><strong>FEATURES</strong></h3>
          <br>
          <br>
          <div class="col-md-3 col-sm-6">
            <div><i class="fa fa-bolt fa-5x" aria-hidden="true"></i></div>
            <br>
            <h4><strong>Lightning Notifications</strong></h4>
            <p></p>
          </div>
          <div class="col-md-3 col-sm-6">
            <div><i class="fa fa-gitlab fa-5x" aria-hidden="true"></i></div>
            <br>
            <h4><strong>Resource Buddy</strong></h4>
            <p></p>
          </div>
          <div class="col-md-3 col-sm-6">
            <div><i class="fa fa-cubes fa-5x" aria-hidden="true"></i></div>
            <br>
            <h4><strong>In-Depth Reporting</strong></h4>
            <p></p>
          </div>
          <div class="col-md-3 col-sm-6">
            <div><i class="fa fa-first-order fa-5x" aria-hidden="true"></i></div>
            <br>
            <h4><strong>Splendid Dashboard</strong></h4>
            <p></p>
          </div>
        </div>
      </div>
      <!-- /container -->
    </div>
    <!-- /grey-wrap -->


    <!-- ========== WHITE SECTION - Note ========== -->
    <div id="white-wrap">
      <div class="container">
        <div class="row">
          <div class="col-md-offset-2 col-md-8">
            <h3>
              We Work Hard To Deliver <bold>Transcendence Services</bold>.
              Our Core Aim Is <bold>Your Complete Satisfaction</bold>.
            </h3>
          </div>
        </div>
      </div>
      <!-- /container -->
    </div>
    <!-- /w -->

    <!-- ========== GREY SECTION - About ========== -->
    <section id="about" name="about"></section>
    <div id="grey-wrap">
      <div class="container">
        <div class="row">
          <h3><strong>ABOUT</strong></h3>
          <br>
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <p>RipperFit lets you effortlessly track your resource requests
              from bottom to top. It comes with the goal of serving as a
              complete resource management engine. Get instant notifications at
              every point, view your complete resource history as well as track
              all durations taken for resource allotment. Well, we are a gang of
              five members and RipperFit is our very first gig hence we have left
              no stones unturned in the way of making this venture of ours topnotch.
              We care about quality, craft, feedback, disciplined experimentation and
              total customer satisfaction.</p>
            </div>
            <div class="col-md-2"></div>
          </div> <!-- /.row -->
          <div class="row">
            <h3><strong>MEET THE TEAM</strong></h3>
            <br>
            <div class="col-md-1"></div>
            <div class="col-md-10">
              <div class="col-md-4 team">
                <img class="img-circle" src="resources/img/aman-agarwal.jpg" height="90" width="90">
                <h4>Aman Agarwal</h4>
                <h5>
                  <i>Product Manager</i>
                </h5>
                <p></p>
                <p>
                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-envelope"></i></a>
                </p>
              </div>
              <div class="col-md-4 team">
                <img class="img-circle" src="resources/img/amit-kumar.jpg" height="90"
                width="90">
                <h4>Amit Kumar</h4>
                <h5>
                  <i>Back-End Guru</i>
                </h5>
                <p></p>
                <p>
                  <a href="#"><i class="fa fa-facebook"></i></a> <a
                  href="#"><i class="fa fa-twitter"></i></a> <a
                  href="#"><i class="fa fa-envelope"></i></a>
                </p>
              </div>

              <div class="col-md-4 team">
                <img class="img-circle" src="resources/img/vaibhav-zambad.jpg"
                height="90" width="90">
                <h4>Vaibhav Pravin Zambad</h4>
                <h5>
                  <i>Back-End Guru</i>
                </h5>
                <p></p>
                <p>
                  <a href="#"><i class="fa fa-facebook"></i></a> <a
                  href="#"><i class="fa fa-twitter"></i></a> <a
                  href="#"><i class="fa fa-envelope"></i></a>
                </p>
              </div>
            </div>
            <div class="col-md-1"></div>
          </div>
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
              <div class="col-md-4 team">
                <img class="img-circle" src="resources/img/riya-nuwal.jpg" height="90"
                width="90">
                <h4>Riya Nuwal</h4>
                <h5>
                  <i>Web Developer</i>
                </h5>
                <p></p>
                <p>
                  <a href="#"><i class="fa fa-facebook"></i></a> <a
                  href="#"><i class="fa fa-twitter"></i></a> <a
                  href="#"><i class="fa fa-envelope"></i></a>
                </p>
              </div>

              <div class="col-md-4 team">
                <img class="img-circle" src="resources/img/amita-sharma.jpg" height="90"
                width="90">
                <h4>Amita Sharma</h4>
                <h5>
                  <i>Web Developer</i>
                </h5>
                <p></p>
                <p>
                  <a href="#"><i class="fa fa-facebook"></i></a> <a
                  href="#"><i class="fa fa-twitter"></i></a> <a
                  href="#"><i class="fa fa-envelope"></i></a>
                </p>
              </div>

              <div class="col-md-4 team">
                <img class="img-circle" src="resources/img/shobhit-agarwal.jpg"
                height="90" width="90">
                <h4>Shobhit Agarwal</h4>
                <h5>
                  <i>Front-end Developer</i>
                </h5>
                <p></p>
                <p>
                  <a href="#"><i class="fa fa-facebook"></i></a> <a
                  href="#"><i class="fa fa-twitter"></i></a> <a
                  href="#"><i class="fa fa-envelope"></i></a>
                </p>
              </div>
            </div>
            <div class="col-md-1"></div>
          </div>
        </div>
        <!-- /container -->
      </div>
      <!-- /grey-wrap -->

      <!-- ========== FOOTER SECTION ========== -->
      <section id="contact" name="contact"></section>
      <div id="footer-wrap">
        <div class="container">
          <div class="row">
            <h3>
              <b>CONTACT US</b>
            </h3>
            <br>
            <div class="col-md-4">
              <h3>
                <b>Send Us A Message:</b>
              </h3>
              <h3>ripperfitmail@gmail.com</h3>
              <br>
            </div>
            <div class="col-md-4">
              <h3>
                <b>Call Us:</b>
              </h3>
              <h3>+91-9785057113</h3>
              <br>
            </div>
            <div class="col-md-4">
              <h3>
                <b>We Are Social</b>
              </h3>
              <h3>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-envelope"></i></a>
              </h3>
              <br>
            </div>
          </div>
        </div>
        <!-- /.container -->
      </div>
      <!-- /#footer-wrap -->

      <!-- ========== COPYRIGHT SECTION ========== -->
      <div id="copyright-wrap">
        <div class="container">
          <p>
            Created by <a href="#">VARAAS</a>
          </p>
        </div>
      </div>

      <!-- ==========Bootstrap core JavaScript========== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <!-- Minified Bootstrap JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    </body>
  </html>
