<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/Article">
<head>
<meta charset="utf-8">
<!-- Logo in Title Bar -->
  <link rel="icon" href="resources/img/rippericon.png" type="image/png" sizes="16x16">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>RipperFit</title>

<!-- CustomMade CSS -->
 <link rel="stylesheet" href="resources/css/loginstyle.css">

<!-- CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">

<!-- scripts -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://apis.google.com/js/client:platform.js?onload=start"
	async defer></script>

<script>
	function start() {
		gapi
				.load(
						'auth2',
						function() {
							auth2 = gapi.auth2
									.init({
										client_id : '412974983923-jg7l8j84308pughfqt5o8q0gc0pslh83.apps.googleusercontent.com'
									});
						});
	}
</script>
</head>
<body ng-app="RipperFit">

	<!-- Header -->
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid ">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><b>RipperFit</b></a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="signUp.html"><i class="fa fa-user-plus"
							aria-hidden="true"></i> SignUp</a></li>
					<li>&nbsp;&nbsp;&nbsp;</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
	</div>

	<!-- Body -->
	<div class="container" style="margin-top: 70px;">
		<div class="row">
			<div class="col-xs-4"></div>
			<div class="col-xs-4">
				<h3 class="text-center">Login</h3>
				<hr />
				<form name="userForm" ng-submit="login(user)"
					ng-controller="signInCtrl">

					<div class="form-group"
						ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
						<label>Email</label> <input type="email" name="email" placeholder="Email"
							class="form-control" ng-model="user.email">
						<p ng-show="userForm.email.$invalid && !userForm.email.$pristine"
							class="help-block">Enter a valid email.</p>

					</div>
					<div class="form-group"
						ng-class="{'has-error': userForm.password.$invalid && !userForm.password.$pristine}">
						<label for="password">Password</label> <input type="password"
							id="password" name="password" placeholder="Password"
							ng-minlength="6" class="form-control" ng-model="user.password"
							ng-required> <span class="help-block"
							ng-show="userForm.password.$invalid && !userForm.password.$pristine">
							Password should be 6 digits minimum </span>
					</div>
					<div>
						<button id="loginbutton" type="submit" class="btn btn-primary"
							ng-disabled="userForm.$invalid">Log In</button>
						&nbsp;&nbsp;&nbsp;&nbsp;<a href="forgetPassword.html">Forgot
							Password?</a> &nbsp;&nbsp;&nbsp;&nbsp; <div style="color:red;" id="message"></div>
					</div>
				</form>
				<h3>OR</h3>
				<button id="signinButton" class="btn btn-danger"
					ng-controller="socialCtrl" style="margin-bottom: 70px;">
					<i class="fa fa-google"></i> Google
				</button>
			</div>
		</div>
	</div>
	<footer class="footer text-center"
		style="position: absolute; bottom: 0; width: 100%; background-color: #f8f8f8; border-top: 1.5px solid #e7e7e7; padding: 17px">
		<p style="margin: 0;">
			&copy;2016 RipperFit. All Rights Reserved| Designed by <b>VARAAS</b>
		</p>
	</footer>
	<!-- Javascript -->
	<script src="resources/js/googleApi.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!-- <script src="resources/js/jquery.backstretch.min.js"></script> -->
	<script src="resources/js/controllers.js"></script>

</body>
</html>